body {
    margin: 0;
    text-align: left;
}


.container {
    width: 50%; 
    height: 20wh;
    margin: 0 auto; 
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    text-align: 50vh; 
    margin-top: 10vh;
    text-align:center
}

.drop-zone {
    height: 100%;
    border: 2px dashed #333;
    padding: 20px; 
}

.drop-zone p {
    margin-top: 3%;
    font-size: 35px;
}

#fileInput {
    display: none; 
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 5vw;
}

.image-container div {
    text-align: center;
    flex: 1; 
}

.image-container img {
    max-width: 100%;
    height: auto;
}

#originalImage {
    max-width: 100%; 
    max-height: 300px; 
}

.grayscale-image {
    max-width: 100%; 
    max-height: 300px; 
}

h1 {
    color: #333;
    margin: 0; 
}

h2 {
    color: #ccc;
    margin-top: 20vh;
}

img {
    max-width: 100%;
}

.nav-item {
    display: inline-block;
    text-align: right;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin-top: 8vh;
}

.introWords, .introWords1 {
    color: azure;
    font-size: 30px;
    text-align: center;
}

.introWords {
    font-size: 50px;
}


