{% extends "base.html" %}

{% block additional_css %}
<link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}
<!-- 15/10 cai dep dep -->
<form action="" method="post">
<div class="sign-in-container bottom-space">
  <div class="sign-in-container">
      <h3>Login Here</h3>

          <label for="username">Username</label>
          <!-- <input type="text" placeholder="Email or Phone" id="username"> -->
          <input type="text" name="username" placeholder="Email or Phone" id="username">

          <label for="password">Password</label>
          <input type="password" placeholder="Password" name="password">

          <button id="signin-button" type ="submit">Log In</button>

  </div>
</div>
</form>

<div id="loading-container" style="display: none;">
  <p>Loading...</p>
</div>

<script src="{{ url_for('static', filename='signin.js') }}"></script>
{% endblock %}
