body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0; /* Add this to remove default margin */
}

.header {
    background-color: orange;
    padding: 20px;
}

.drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
}

h1 {
    color: #333;
}

.image-container {
    display: inline-block;
    margin: 20px;
}

h2 {
    color: #333;
}

img {
    max-width: 100%;
}
